@property --color-bg-primary {
  syntax: "<color>";
  inherits: true;
  initial-value: #2d3748;
}

@property --color-bg-secondary {
  syntax: "<color>";
  inherits: true;
  initial-value: #283141;
}

@property --color-text-primary {
  syntax: "<color>";
  inherits: true;
  initial-value: #f7fafc;
}

@property --color-text-secondary {
  syntax: "<color>";
  inherits: true;
  initial-value: #e2e8f0;
}

@property --color-text-accent {
  syntax: "<color>";
  inherits: true;
  initial-value: #81e6d9;
}
